<h1>Core concepts LDAW</h1>

| {{link-to "Ember" 'pag-1'}}
| {{link-to "MVC?" 'pag-2'}}
| {{link-to "Route" 'pag-3'}}
| {{link-to "Controller" 'pag-4'}}
| {{link-to "Template" 'pag-5'}}
| {{link-to "Model" 'pag-6'}}
| <button {{action 'randomPage' on='click'}}>random: </button> {{result}}


<br>
<br>
<br>

{{outlet}}