<h2>Model</h2>
<p>Por Alejandro Reséndiz Martínez: </p>

<br>

<ul>
	<li>¿Qué es un Model (modelo)?</li>
		Un Modelo es la descripción de un Objeto de Javascript. <br> 
		En Ember, los Modelos representan los datos que la aplicación presenta al usuario.

	<li>Características principales / Función de Modelo</li>
		Un Modelo es <b>Persistente</b>, es decir, se espera que la información no se pierda al cerrar la ventana del navegador. <br>
		Usualmente, los modelos se se almacenan en una Base de Datos. <br>
		En Ember, es posible asociar una ruta con un modelo. <br>
		Ember Data es una librería que permite integrar los Modelos recuperados de la BD con la aplicación existente. <br>
		Los Modelos poseen atributos que pueden ser de tipo: <i>String, Number y Date</i> <br>
		Los Modelos pueden entenderse como Entidades en notación de Bases de Datos, y es posible establecer relaciones entre ellos. <br>
		Los tipos de Relaciones son 1:1, 1:M, M:M  y se especifican con: <i>belongsTo, hasMany</i> en cada Modelo. <br>

	<li>¿Cómo crear un modelo en Ember?</li>
		La definición de un modelo se hace con el comando <i><b>ember g model 'NombreDelModelo'</b></i> <br>
		A continuación, en el archivo generado en la carpeta  <i>app/models</i>, es necesario darle estructura. <br>
		<i><b>'identificador' : DS.attr('tipo'),  </b></i> para un Atributo <br>
		<i><b>'identificador' : DS.attr('relacion'),  </b></i> para una relación <br>
</ul>

<h3>Referencias:</h3>
<ul>
	<li><a href="https://guides.emberjs.com/release/models/">https://guides.emberjs.com/release/models/</a></li>
</ul>