<h2>Controller</h2>
<p>Por</p>

<br>

<ul>
	<li>¿Qué es un Controller (controlador)?</li>
	<p>Un Controlador es un objeto  que recibe una sola propiedad de la Ruta (modelo) que es el valor de retorno del método del modelo de la Ruta (). <br>

El modelo se pasa de la ruta al controlador de forma predeterminada utilizando la función setupController (). El controlador se usa a menudo para decorar el modelo con propiedades de visualización, como recuperar el nombre completo de un modelo de nombre.
</p>
	<li>Características principales / Función del Controller</li>
	<p>Solo se necesita generar un Controlador si se quiere personalizar las propiedades o proporcionar acciones a la Ruta.<br>
		Un controlador generalmente está emparejado con una ruta individual del mismo nombre.
	</p>
	<li>¿Cómo crear un controlador en Ember?</li>
	<p>ember generate controller my-controller-name</p>
	<li>Diferencia con una ruta o ventaja/desventaja de usarlo en vez de una ruta</li>
	<p>buenas practicas. <br>
	mejor organizacion.<br>
	se pueden pasar acciones o variables para compartir con los componentes secundarios de una ruta.</p>
</ul>
<br>
referencias: https://guides.emberjs.com/release/controllers/
