<h2>Template</h2>
<p>Por: Alejandro Miguel Sánchez Mora A01272385</p>

<br>

<ul>
	<li>¿Qué es un Template (“vista”)?</li>
	<li>Son las representaciones gráficas de los datos, la UI gráfica</li>
	<li>Características principales / Función del Template</li>
	<li>Desplegar información al usuario</li>
	<li>¿Cómo crear un template en Ember?</li>
	<li>Al momento de crear una ruta o un componente</li>
	<li>Mención sobre Application.hbs y outlet</li>
	<li>Por default, el Application.hbs es el template que se renderiza primero al momento de iniciar a la aplicación. El outlet permite que renderize a los hijos en el espacio en donde se encuentre el outlet.</li>
</ul>

<h3>Referencias:</h3>
<ul>
	<li><a href="https://guides.emberjs.com/release/templates/handlebars-basics">https://guides.emberjs.com/release/templates/handlebars-basics/</a></li>
	<li><a href="https://guides.emberjs.com/v1.10.0/templates/the-application-template/">https://guides.emberjs.com/v1.10.0/templates/the-application-template/</a></li>
</ul>