<h2>MVC?</h2>
<p>Por</p>
Arturo Ocampo Pérez - A01271806
<br>

<ul>
	<li>Explicación rápida de MVC</li>
			Es un patrón de arquitectura de software que, utilizando 3 componentes (Vistas, Models y Controladores).
			Se utiliza  para separar los componentes de nuestra aplicación dependiendo de la
			responsabilidad que tienen, esto significa que cuando hacemos un cambio en alguna parte de
			nuestro código, esto no afecte otra parte del mismo
			<h1>Modelo</h1>
			Se encarga de los datos, generalmente (pero no obligatoriamente) consultando la base de datos.
			<h1>Controller</h1>
			Recibe las órdenes del usuario y se encarga de solicitar los datos al modelo y de comunicárselos a la vista.
			<h1>View</h1>
			Son la representación visual de los datos, todo lo que tenga que ver con la interfaz gráfica va aquí.

	<li>Arquitectura que utiliza Ember (mención sobre versión previa a 2.0 y actual)</li>
		<b>Actual</b>
		<br />
		Se basa en la arquitectura Modelo-Vista-Controlador. Permite crear aplicaciones escalables incorporando data-binding
		bidireccional, propiedades computadas, plantillas de actualización automática y un manejador del estado de la
		aplicación.
		<br />
		<b>Version 2.0</b>
		Ember 2.0 se lanzó el 13 de agosto de 2015.Los principios rectores para el lanzamiento fueron la simplificación y la estabilidad sin estancamiento.
		Cambios:
		<br />
		"Simplemente actualícelo" cuando algo cambie.
		<br />
		Ganchos de ciclo de vida estándar para componentes.
		<br />
		Introducción del motor de renderizado Glimmer con el objetivo de mejorar el rendimiento del renderizado. Glimmer adopta una estrategia de
		diferencia de valores.
		<br />
	<li>Estructura de Ember (sin definir componentes a detalle)</li>
		No existe un estándar sobre como organizar o estructurar ember pero esto es lo necesario:
		<br />
		<ul>
			/css
		</ul>
		<ul>
			/js
		</ul>
		<ul>
			/app
		</ul>
		<ul>
			/app/controllers
		</ul>
		<ul>
			/app/models
		</ul>
		<ul>
			/app/views
		</ul>
		<ul>
			/app/app.js
		</ul>
		<ul>
			/app/router.js
		</ul>
		<ul>
			/libs
		</ul>
		<ul>
			index.html
		</ul>
		<br />
		<b>Referencias</b>
		<br />
		Referencias
		Grápida para desarrollar con EmberJS. (16 de Noviembre de 2015). Obtenido de API_Market: https://bbvaopen4u.com/es/actualidad/guia-rapida-para-desarrollar-con-emberjs
		<br />
		Hernandez, U. (22 de Octubre de 2015). MVC (Model, View, Controller) Explicado. Obtenido de Código Facilito: https://codigofacilito.com/articulos/mvc-model-view-controller-explicado
		<br />
		Picca, C. (12 de Mayo de 2014). Estructura del proyecto. Obtenido de Github: https://github.com/codeheroco/codehero-static/blob/master/_posts/ember.js-desde-cero/2013-11-14-ember-js-desde-cero-estructura-del-proyecto.markdown


</ul>
