<h2>Route</h2>
<p>Por</p>

<br>

<ul>
	<li>1.-Qué es una ruta? La dirección responsable de mostrar la información, los templates y el contenido de la url seleccionada</li>

<li>2.-Características principales: 
Puede cargar modelos del template o redireccionar a otra ruta
Sirve para hacer transiciones a otras rutas o para cambiar un modelos
Pueden ser anidadas en otras rutas para mayor facilidad de acceso</li>

<li>3.-Cómo crear una ruta en ember?
El comando es: ember generate route nombre</li>

<li>4.-Uso de app.js: Carga de manera automática los componentes básicos sin tener que escribirlos.</li>



<li>Referencias:
https://guides.emberjs.com/release/routing/defining-your-routes/
https://guides.emberjs.com/release/routing/</li>
</ul>