<h2>Ember</h2>
<p>Por Marcos Zárraga Flores</p>

<br>



<ul>
	<li>Definición sencilla de aplicación web o elementos principales</li>
	<p>Una aplicación web es una aplicación o herramienta informática accesible desde cualquier navegador, bien sea a través de internet o  a través de una red local.</p>
	<li>Definición sencilla de Ember</li>
	<p>Es un framework de código libre que se basa en la arquitectura Modelo-Vista-Controlador. Permite crear aplicaciones escalables incorporando data-binding bidireccional, propiedades computadas, templates de actualización automática y un manejador del estado de la aplicación.</p>
	<li>¿Qué es una aplicación web ambiciosa?</li>
	<p>
		Mediante los Service Workers y otras tecnologías este tipo de aplicaciones web pueden seguir ejecutándose en segundo plano sin tener que vivir dentro del navegador, en el móvil es posible instalarlas como una aplicación al igual que las demás aplicaciones.
	</p>
	<li>¿Qué es un framework?</li>
	<p>Es una estructura conceptual y tecnológica de soporte definido, normalmente con artefactos o módulos de software concretos, que puede servir de base para la organización y desarrollo de software.</p>
	<li>¿Qué es una aplicación stateful?</li>
	<p>Es una aplicación que guarda los estados que se tienen en una vista para
	ser utilizados en otra vista de la aplicación, estos estados por lo regular expiran 
	despues de cierto tiempo.</p>
</ul>

<h1>Referencias</h1>
<p>
	https://www.orix.es/que-es-un-framework-y-para-que-se-utiliza
</p>

	<p>
			https://www.beeva.com/beeva-view/tecnologia/ember-js-un-framework-hace-mas-facil-la-vida-del-desarrollador/
	</p>
	<p>
		https://www.neosoft.es/blog/que-es-una-aplicacion-web/
	</p>
	
	<p>
		https://whatis.techtarget.com/definition/stateful-app
	</p>
	
